{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

<div class="tree">
	<ul>
		<li>
			<a href="#" class="uk-card uk-card-primary" style="color: white">{{x.subtitle}}</a>
			<ul>
                <li>
                    {% if x.module_set.all %}
                        <div class="uk-card uk-card-default">
                            {% for module in x.module_set.all %}
                                <div class="uk-tile uk-tile-muted uk-padding-small subtopic" style="border-top: 1px solid black; border-bottom: 1px solid white">
                                     <a href="#modal-subtopic{{subtopic.id}}" uk-toggle>
                                        <p class="uk-h4">{{module.title}}</p>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </li>
			</ul>
		</li>
	</ul>
</div>


    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/js/uikit-icons.min.js"></script>
    <script>

    </script>
</body>
</html>